@import 'basscss';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import './fonts.css';

:root {
    --h1 : 70px;
    --h2: 50px;
    --lime: #cdebdd;
    --black: #000000;
}

body {
    color: var(--black);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--lime);
}
.h1 {
    font-size: var(--h1);
}
.h2 {
    font-size: var(--h2);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0.4em 0px;
    font-family: 'Oswald', sans-serif;
}
.fit {
    max-width: 100%;
    height: auto;
}
.border-bottom-dashed {
    border-bottom-style: dashed;
}
.pointer {
    cursor: pointer;
}